
<div class="container">
  

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef> Titulo </th>
        <td mat-cell *matCellDef="let user"> {{user.titulo}} </td>
      </ng-container>
        
      <ng-container matColumnDef="texto">
        <th mat-header-cell *matHeaderCellDef> Texto </th>
        <td mat-cell *matCellDef="let user"> {{user.texto}} </td>
      </ng-container>
    
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha  </th>
        <td mat-cell *matCellDef="let user"> {{user.fecha }} </td>
      </ng-container>
    
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let user"> {{user.estado}} </td>
      </ng-container>
    
      
    
      <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
            <button (click)="goToEditar(user)">Editar</button>
        </td>
       </ng-container> 
    
      
    

              
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

     
    
    
    </table>
    
    <button mat-flat-button color="primary" routerLink="/app-noticia" routerLinkActive="active" >Crear Noticia</button>
    </div>
    

